# fastapi==0.115.8
# uvicorn==0.30.6
# pandas==3.0.0
# numpy==2.4.2
# openpyxl==3.1.5
# torch==2.10.0
# python-multipart==0.0.9
# yt-dlp

fastapi==0.115.8
uvicorn==0.30.6
python-multipart==0.0.9
yt-dlp